name: Reusable Workflow with Conditional Build Args

on:
  workflow_call:
    inputs:
      environment:
        required: false
        type: string    
      repo_name:
        required: true
        type: string
      branch_name:
        required: true
        type: string
      cluster_name:
        required: true
        type: string
      use_build_args:
        required: false
        type: boolean
        default: false
      is_mono_repo:
        required: false
        type: boolean
        default: false
    secrets:
      aws_role:
        required: true
      dynamic_build_args:
        required: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2


      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.aws_role }}
          role-session-name: AviatorGithub
          aws-region: 'eu-central-1'

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build and Push Docker image
        run: |
          SERVICE_NAME="${{ inputs.branch_name }}-${{ inputs.cluster_name }}-${{ inputs.repo_name }}"
          IMAGE_URI="${{ steps.login-ecr.outputs.registry }}/${SERVICE_NAME}:latest"
          if [ "${{ inputs.use_build_args }}" = "true" ] && [ -n "${{ secrets.dynamic_build_args }}" ]; then
            docker build ${{ secrets.dynamic_build_args }} -t $IMAGE_URI .
          else
            docker build -t $IMAGE_URI .
          fi
          docker push $IMAGE_URI

      - name: Update ECS Service
        run: |
          CLUSTER_NAME="${{ inputs.branch_name }}-${{ inputs.cluster_name }}-cluster"
          SERVICE_NAME="${{ inputs.branch_name }}-${{ inputs.cluster_name }}-${{ inputs.repo_name }}"
          aws ecs update-service --cluster $CLUSTER_NAME --service $SERVICE_NAME --force-new-deployment
